#the visualization server. Client only
server = localhost

#the listening port
port = 17843

#the local network 
localnet = 10.1.0.0/16

#the path to the binary subnet specification.
#Server only
#subnetpath = 

#the authorization for the subnet specification (user:pass). Server only
#auth = user:password

#which interface to sniff on. defaults to eth0. Server only
#interface = eth0


#the following commands are executed when the user interacts with the program
#a %s should be used to indicate where an argument should be stored
#ex:
#rightclickcmd = firefox http://www.networksolutions.com/whois/results.jsp?ip=%s
#
#This command executes with a left click on a single ip as its argument
#leftclickcmd = echo User left clicked on ip %s
#this command executes with a right click on a single ip as its argument
#rightclickcmd = echo User right clicked on ip %s
#This command executes when a network is selected with the right mouse button
#rightclicknet = echo User selected the network %s with the right mouse button

pcapfile = /home/esk/border-2014-11-10.pcap

